<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="errorLogfile" xsi:type="File" fileName="ErrorLogFile.txt"
		        layout="${longdate} * ${level} * ${message}" keepFileOpen="false"/>

		<target name="infoLogfile" xsi:type="File" fileName="InfoLogFile.txt"
		        layout="${longdate} * ${level} * ${message}" keepFileOpen="false"/>

		<target name="logconsole" xsi:type="Console"
		        layout="${date}|${level:uppercase=true}|${message} 
				${exception:format=tostring}}" keepFileOpen="false"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="errorLogfile" />
		<logger name="*" minlevel="Trace" maxlevel="Info" writeTo="infoLogfile" />
	</rules>
</nlog>